body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #001821;
  -webkit-osx-font-smooothing: antialiased;
  -moz-osx-font-smooothing: grayscale;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

body,
html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 509px;
}

.main-page-wrapper {
  background: url(./img/1.png) center top no-repeat, url(./img/2.png) right 482px bottom 254px no-repeat;
}

.header {
  padding-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 78px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
  margin-right: 60px;

}

.contacts {
  font-style: normal;
  font-size: 20px;
  text-align: right;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  font-size: 14px;
  line-height: 19px;
}

.menu__item--active .menu__link {
  color: blanchedalmond;
}

.menu__link {

  text-decoration: none;
  /*убрать подчеркивание*/
}

.menu__link:hover {
  /*Для подкрашивания при активности*/
  color: rgba(209, 99, 47, 0.897);

}

.contacts__tel {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 5px;
}

.contacts__dropdown-tittle {
  font-size: 13px;
  text-decoration: underline;
}

a {
  color: inherit;
  /* Для осветления ссылок на темном фоне*/
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* Для обнуления марджинов у браузера*/
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  margin-bottom: 266px;
}

.hero__text-section {
  width: 43%;
}

.hero__tittle {
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  margin-bottom: 25px;
}

.hero__subtittle {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 48px;
}

.btn {
  border-radius: 35px;
  /*для скругления кнопки*/
  color: #fff;
  font-weight: bold;
  padding: 18px 40px;
  text-transform: uppercase;
  /* для верхнего регистра*/
  text-decoration: none;
}

.btn--hero--ginger {
  background: #F5170E;
  padding: 18px 40px;
}

.btn--hero--ginger:hover {
  background: #9e3936;
}

.btn--color--ginger:hover {
  background: #7c302d;
}

.btn--color--ginger {
  background: #F5170E;
  padding: 18px 30px;
}

.btn--color--white {
  background: #fff;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  color: #F5170E;
  padding: 18px 30px;
}

.section {
  margin-bottom: 127px;
}

.section__tittle {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 54px;
}


.offers {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 450px;
  background: #fff;
  border-radius: 4px;
  width: calc(100% / 3 - 38px);
}

.offers__header {
  min-height: 144px;
  margin-bottom: 28px;
}

.offers__content {
  padding: 3px 22px;
  color: #000000;
}

.offers__tittle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 22px;
}

.offers__content-subtittle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-right: 5px;
}

.offers__content-subtittles {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 50px;
}

.offers__content-subtittles:last-child {
  margin-right: 0;
}

.offers__content-date {
  display: flex;
}

.offers__content-meal {
  display: flex;
}

.offers__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 40px;
}

.news {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 557px;
  display: inline-block;
  /* строчно, свойства блока*/
  vertical-align: top;
  /* по вверху выравниваие*/
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 18px;
  flex: 1;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* полностью заполняет родительский блок*/
}

.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 45px 30px;
  min-height: 140px;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 20px;
}

.single-news__tittle {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}

.single-news__desc {
  font-size: 16px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager--theme--light {
  color: #000000;
  margin-top: 50px;
}

.pager--theme--light .pager__item--active .pager__link {
  color: #fff;
  background-color: red;
}

.pager--theme--light .pager__link:hover {
  color: #fff;
  background-color: red;
}


.pager__display {
  margin-right: 25px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  line-height: 32px;
}

.pager__item--active .pager__link {
  background: #FFFFFF;
  color: #F5170E;
}

.about {
  display: flex;

}

.about:before {
  /* для добавления косметического элемента*/
  content: "";
  display: block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url(./img/gates.png) center center / cover no-repeat;
}

.about__desc {
  background: url(./img/mountains.png) center center / cover no-repeat;
  padding: 70px 81px;
  max-width: 785px;
  height: 455px;
  margin-left: -137px;
  margin-top: 97px;
}

.about__tittle {
  font-weight: bold;
  margin-bottom: 37px;
  color: #000000;
  font-size: 36px;
}

.about__desc-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 105px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p : :last-child {
  margin-bottom: 0;
}

.footer-container__content {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid #3f3e3e;
}

.footer-container__section {
  height: 152px;
  margin-top: 30px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
  margin-right: 59px;
}

.contacts__desc {
  font-size: 11px;
  color: #9A9A9A;
}

.socials {
  margin-right: 70px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item--icon-telegram {
  background-image: url(./img/telegram.png);
}

.socials__item--icon-vk {
  background-image: url(./img/vk.png);
}

.socials__item--icon--fb {
  background-image: url(./img/f.png);
}

.socials__item--icon--insta {
  background-image: url(./img/in.png);
}




/*service pages*/

.top-line {
  min-height: 412px;
  background: #3f3e3e;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  background: #3f3e3e url(./img/headline\ 1.png) right 10% top no-repeat;
}

.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-tittle {
  font-size: 72px;
  line-height: 98px;
  font-weight: bold;
  margin-bottom: 53px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  text-decoration: none;
  color: aquamarine;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 19px;
}

.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 40px 0;
}

.service {
  display: flex;
  padding: 58px 0px 0px;
  /*margin-bottom: 60px;*/
}

.service__img {
  width: 40%;
  margin-right: 3%;
}

.service__content {
  flex: 1;
}

.service__tittle {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #303030, ;
  padding-top: 10px;
}

.service__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 56px;
}

.inner-section {
  background: #F4F5F5;
  color: #1A1B1E;
  padding-top: 133px;
  padding-bottom: 74px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__tittle {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 53px;
  /*padding-top: 18px;*/
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 300px;
  height: 129px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.inner-footer__container {
  padding: 48px 0;
}

.inner-footer {
  margin-top: auto;
}