.btn {
  border-radius: 35px;
  color: #fff;
  font-weight: bold;
  padding: 18px 40px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;

}

.btn--hero--ginger {
  background: #F5170E;
  padding: 18px 40px;
}

.btn--hero--ginger:hover {
  background: #9e3936;
}

.btn--color--ginger:hover {
  background: #7c302d;
}

.btn--color--ginger {
  background: #F5170E;
  padding: 18px 40px;
}

.btn--color--white {
  background: #fff;
  border: 1px solid #F5170E;
  box-sizing: border-box;
  border-radius: 35px;
  color: #F5170E;
  padding: 18px 30px;
}

.btn--color--white:hover {
  background: rgb(118, 151, 51);
}

.btn--color--black {
  background: #2B2B2B;
  color: #FFFFFF;
}

.btn--color--black:hover {
  background: #7c302d;
}