.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 509px;
}

.hero {
  margin-bottom: 266px;
}

.hero__text-section {
  width: 43%;
}

.hero__tittle {
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  margin-bottom: 25px;
}

.hero__subtittle {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 48px;
}