.news {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 557px;
  display: inline-block;
  /* строчно, свойства блока*/
  vertical-align: top;
  /* по вверху выравниваие*/
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 18px;
  flex: 1;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* полностью заполняет родительский блок*/
}