.socials {
  margin-right: 70px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.socials__item--icon-telegram {
  background-image: url(../../img/telegram.png);
}

.socials__item--icon-vk {
  background-image: url(../../img/vk.png);
}

.socials__item--icon--fb {
  background-image: url(../../img/f.png);
}

.socials__item--icon--insta {
  background-image: url(../../img/in.png);
}